My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Tenant-Onboarding",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -544,
        48
      ],
      "id": "ca1c00d0-77ff-4da3-a7e7-c851af705aa0",
      "webhookId": "373b0c42-4008-4596-9ec2-6fd6768db917"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10w1EIC5bXW0LDZWKleY-l-aycgCjgvha-0kn6mZDu-s",
          "mode": "list",
          "cachedResultName": "PG Manager",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10w1EIC5bXW0LDZWKleY-l-aycgCjgvha-0kn6mZDu-s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 649596298,
          "mode": "list",
          "cachedResultName": "tenant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10w1EIC5bXW0LDZWKleY-l-aycgCjgvha-0kn6mZDu-s/edit#gid=649596298"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.fullName }}",
            "Email": "={{ $json.body.email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Tenant ID",
              "displayName": "Tenant ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Room",
              "displayName": "Room",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "KYC Status",
              "displayName": "KYC Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Join Date",
              "displayName": "Join Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Leave Date",
              "displayName": "Leave Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -80
      ],
      "id": "1323e298-ee64-4cd1-ba90-683a0f6262c9",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "noB5ZJLbjCUDCIxj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=userImage",
        "name": "={{ $json.body.fullName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13FC85eH8b6Noz_iG63VQksqxDyZOSTYr",
          "mode": "list",
          "cachedResultName": "pg",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13FC85eH8b6Noz_iG63VQksqxDyZOSTYr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -272,
        96
      ],
      "id": "56aa29cb-f5cf-44e9-92d2-1fa44033de2d",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kHRDhpGK7VUNmWJV",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0f55ab9-5c16-46dd-abf6-ba1babeb88c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d8ec755064e475349f82ab5ab770d44e99d3f28190b5a31ecc66e3c96d07c1d2"
  },
  "id": "JdbddBf2xZRajsZA",
  "tags": []
}